#parent{
    color: aquamarine;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 200px;
    height:105px;
}
.nav-items >ul{
    display: flex;
    list-style: none;
}
.nav-items >ul>li{
    margin: 10px;
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.rated_btn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.photo{
    height: 120px;
    width: 195px;
}
.card{
    background-color: #f0f0f0;
    width: 200px;
    margin: 5px;
    padding: 25px;
    cursor: pointer;
}
.card:hover{
    border: 1px solid black;
}
.card-shimmer{
    width: 200px;
    height: 300px;
    margin: 5px;
    padding: 25px;
    background-color: lightgrey;
}
